<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="{{ url_for('static', filename='css/materialize.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>

    <style type="text/css">
        body{
            padding: 0;
            margin: 0;
             background-color: #e3ece5;
        }
        input:not([type]):focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=password]:not(.browser-default):focus:not([readonly]) + label, input[type=email]:not(.browser-default):focus:not([readonly]) + label, input[type=url]:not(.browser-default):focus:not([readonly]) + label, input[type=time]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, input[type=tel]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label{
            color: #3f51b5;
        }
        .input-field .prefix.active{
            color: #3f51b5;
        }
        input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
            border-bottom: 1px solid #3f51b5;
            -webkit-box-shadow: 0 1px 0 0 #3f51b5;
            box-shadow: 0 1px 0 0 #3f51b5;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.sidenav').sidenav();
            $('.fixed-action-btn').floatingActionButton();
            $('input#input_text, textarea#textarea2').characterCounter();

        });
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col m12 s12" style="margin: 0; padding: 0;">
                <nav><a href="/" class="brand-logo center">S.O.S Riscos</a>
                  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                  <ul id="slide-out" class="sidenav">
                    <li><div class="user-view">
                      <div class="background">
                        <img src="https://media.istockphoto.com/vectors/marker-location-with-sos-icon-isolated-on-red-background-sos-call-vector-id1069656144?k=6&m=1069656144&s=170667a&w=0&h=2nN69QqGR7Ocd2Bk3E89MDahg8mARtPw1Yr9lsuydGk=">
                      </div>
                      <a href="#user"><img class="circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQSss6pKY8SFVSHYWOla8jhL5b01Q_GjhrqKTMqpd24UPP8HVjD"></a>
                      <a href="#name"><span class="white-text name">S.O.S Riscos</span></a>
                      <a href="#email"><span class="white-text email">sosriscos@gmail.com</span></a>
                    </div></li>
                    <li><a href="#!"><i class="material-icons">phone</i>Ligar para os Bombeiros</a></li>
                    <li><a href="/cadastrar">Fazer Denúnica</a></li>
                    <li><div class="divider"></div></li>
                    <li><a class="subheader">Nossa Equipe</a></li>
                    <li><a class="waves-effect" href="#!">Sobre nós</a></li>
                  </ul>
                </nav>
                <div class="fixed-action-btn">
                  <a class="btn-floating btn-large blue">
                    <i class="large material-icons">apps</i>
                  </a>
                  <ul>
                    <li><a href="/points" class="btn-floating"><i class="material-icons">map</i></a></li>
                    <li><a href="#!" class="btn-floating red"><i class="material-icons">phone</i></a></li>
                    <li><a href="/cadastrar" class="btn-floating green"><i class="material-icons">add</i></a></li>
                  </ul>
                </div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    {% block js %}{% endblock %}
</body>

</html>