{% extends 'base.html' %}
{% block title %}SOS Riscos{% endblock %}

{% block content %}
    <div class="container">
       <div class="card">
            <div class="card-content">
                <p>Bem vindo ao sistema de denúnica pública S.O.S Riscos. Aqui você poderá fazer denúnicas de lugares públicos ou privados que estejam em risco ou causando riscos de vida a população do meio dele.</p>
            </div>
       </div>

        <div class="row">
            <div class="col s12 m5">
              <div class="card-panel cyan">
                <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                </span>
              </div>
            </div>
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut commodi deserunt enim excepturi nemo nisi quasi unde! Ab doloribus dolorum error et fugiat odit officiis pariatur quis quod veniam! Enim.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}