<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pontos de Denúncia</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

    </style>
  </head>
  <body onload="initialize()">

    <div id="map"></div>
    <script>

         var locations = [];
         {% for l in points %}
             locations.push({lat: {{ l.latitude }}, long: {{ l.longitude }}, lugar: '{{ l.lugar }}', descricao: '{{ l.descricao }}'});
         {% endfor %}

      function initialize() {

        var myOptions = {
          center: new google.maps.LatLng(-7.061508,-41.6552153),
          zoom: 7,
          mapTypeId: google.maps.MapTypeId.ROADMAP

        };
        var map = new google.maps.Map(document.getElementById("map"),
            myOptions);

        setMarkers(map,locations)

      }

      function setMarkers(map,locations){
       var i;

        for (i = 0; i < locations.length; i++) {
         var loan = locations[i].lugar;
         var lat = locations[i].lat;
         var long = locations[i].long
         var add =  locations[i].descricao;

         latlngset = new google.maps.LatLng(lat, long);

        var marker = new google.maps.Marker({
              map: map, title: loan , position: latlngset
            });
            map.setCenter(marker.getPosition())

            var content = '<h3>'  + loan +  '</h3>' + "Denuncia: " + add

            var infowindow = new google.maps.InfoWindow()

            google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
                return function() {
                    infowindow.setContent(content);
                    infowindow.open(map,marker);
                };
            })(marker,content,infowindow));

              }
            }



    </script>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfGtRIoQlq_TANe7fXSUyb1PHIGj384GA&callback=initMap"
    async defer></script>
  </body>